html{
    background-color: black;
}
input[type=text]{
    width: 20%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 100px;
} 
input[type=submit], input[type=reset] {
  background-color: red;
  border: 5px;
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  
}
body{
    background-color: black;
    color: white;
    
}
textarea{
    border-radius: 10px;
}